@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* #unique {
  width: 300px;
  background: red;
  border-radius: 20px 0 0 20px;
}

main {
  display: flex;
  padding-bottom: 50px;
}
form {
  width: 260px;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 40px;
  box-sizing: border-box;
  border-radius: 0 20px 20px 0;
}
input,
select {
  background: none;
  border: none;
  border-bottom: 1px solid rgb(128, 128, 128, 0.4);
  color: grey;
  font-size: 1, 1;
  padding: 5px;
}

#f1 {
  text-align: center;
}

select {
  padding-left: 2px;
}

.audio {
  border: 2px solid black;
}

#photo {
  width: 560px;
  height: 315px;
}
